<%= form_for :feedback ,url: feedbacks_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

    <p>
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </p>

 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>