

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
        	<div class="form-login">
        	<h4>Обратная связь</h4>
				<form name="xc" method="POST" action="http://formspree.io/toryanshop@gmail.com">
				<br>
				  <input type="email" name="email" placeholder="Почта" class="form-control input-sm chat-input">
				  <br>
				  <textarea name="message" class="form-control input-sm chat-input" placeholder="Сообщение"></textarea>
				  <br>
				  <div class="wrapper">
				    <button type="submit" class="btn btn-primary btn-md">Отправить</button>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>

